aiohttp==3.9.3
anthropic==0.23.1
asyncer==0.0.5
curl_cffi==0.6.2
fake_useragent==1.5.1
fastapi==0.110.1
matplotlib==3.8.3
moviepy==1.0.3
numpy==1.26.4
openai==1.16.2
opencv_python==4.9.0.80
Pillow==10.3.0
pydantic==2.6.4
pydantic_settings==2.2.1
python-dotenv==1.0.1
python-multipart==0.0.9
Requests==2.31.0
rich==13.7.1
supabase_py_async==2.5.6
uvicorn==0.29.0
