//! text
$h1text: 22px
$h2text: 20px
$p: 14px
$tag: 12px

//! colors
$aqua: #23A0E6
$pink: #F400CD
$green: #77D55F

//! formatting
$largeBorder: 24px
$smallBorder: 18px

//! buttons
.primary  
  cursor: pointer 
  padding: 22px 12px 
  white-space: nowrap 
  outline: 0 
  border: 0 
  padding: 18px 
  font-weight: 600
  color: #fff
  border-radius: 22px
  background-color: $aqua

