//! text
$h1text: 22px
$h2text: 20px
$p: 16px
$tagText: 12px

//! colors
$aqua: #23A0E6
$pink: #F400CD
$green: #77D55F
$backgroundColor: #E6E6F5
$text-color: #363636
$iconColor: #5E5E6B
$iconBG: #EBEBF6
$outline: 3px solid #E2E2EF
$activeOutline: 3px solid $aqua

//! formatting
$largeBorder: 24px
$smallBorder: 16px
$cardPadding: 18px
$inputPadding: 6px 16px
$iconPadding: 6px 12px
$friends: 4px
$neighbors: 22px

//! animations
$mainTransition: border 200ms ease
//! global


.main
  background-color: $backgroundColor
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
.body  
  margin: 0 
  overflow-x: scroll 
  font-family: Inter, sans-serif
  background-color: $backgroundColor
  padding: 24px
  overflow-y: scroll
  height: 90vh
  position: relative
  z-index: 10
.neighbors
  gap: $neighbors
  display: flex
  flex-direction: column
  justify-items: start

@mixin center()
  display: grid
  place-content: center  
@mixin row()
  display: flex
  flex-direction: row
  white-space: nowrap
  align-content: center
  justify-content: center
  justify-items: center
  align-items: center
  gap: 8px
@mixin column()
  display: flex
  flex-direction: column
  gap: 4px
  align-content: start
@mixin fitWH
  width: 100%
  height: fit-content
//! text
.h1
  font-size: $h1text
  font-weight: 800
  color: $text-color
  margin: 0
.h2
  font-size: $h2text
  font-weight: 800
  color: $text-color
  margin: 0
.p
  font-size: $p
  font-weight: 600
  color: $text-color
  margin: 0

//! buttons
.primary  
  cursor: pointer 
  padding: 8px 22px
  white-space: nowrap 
  outline: 0 
  border: 0 
  font-weight: 600
  color: #fff
  border-radius: $smallBorder
  background-color: $aqua
.createButton
  cursor: pointer 
  border-radius: 1000px
  background-color: $aqua
  color: #fff
  height: 50px
  width: 50px
  @include center
.backButton
  background-color: $iconBG
  color: $iconColor
  padding: 12px
  height: 40px
  width: 40px
  @include center
  border-radius: $smallBorder
  font-size: 22px
//! primary cards
.row
  @include row
.column
  @includle column
.card
  padding: $cardPadding
  border-radius: $largeBorder
  @include fitWH
  background-color: #fff
  &.image
    display: grid
    grid-template-columns: repeat(2, 1fr)
    transition: $mainTransition
  &:hover
    cursor: pointer
    border: $activeOutline

.iconTag
  @include row
  padding: $iconPadding
  border-radius: 1000px
  background-color: $iconBG
  font-size: $tagText
  width: fit-content
  font-weight: 600
  color: $iconColor
  gap: 4px
.container
  display: flex
  flex-direction: column
  gap: $friends
.iconContain
  padding: $iconPadding
  border-radius: $smallBorder
  width: fit-content
  height: 48px
  @include center
.search
  border: $outline
  color: $iconColor
  font-weight: 600
  transition: $mainTransition
  @include row
  border-radius: $smallBorder
  padding: $inputPadding
  background-color: #fff
  justify-content: flex-start
  &:hover, &:active
    border: $activeOutline
    color: $text-color
    cursor: pointer
//! navBar
.navBar
  width: 100% 
  height: fit-content 
  padding: 16px 22px
  position: fixed
  background-color: #fff
  display: grid
  grid-template-columns: repeat(3, 1fr)
  border-radius: 50px 50px 0px 0px
  bottom:0
  z-index: 10000
.navBarItem
  @include column
  align-items: center
  color: $iconColor
  height: fit-content
  &:hover
    color: $aqua
.unselected
  border: $outline
  border-radius: 1000px
  color: $iconColor
  padding: $inputPadding
.selected
  background-color: $aqua
  border-radius: 1000px
  color: #fff
  padding: $inputPadding
.courseHeading
  background-color: #fff
  @include center
  padding: $cardPadding
  left: 0
  top: 0
  justify-content: start
  overflow-x: hidden
.headingRow
  @include row
  justify-items: flex-start
  justify-content: flex-start
  gap: 8px
  width: 100vw
  padding-bottom: 12px
  background-color: #fff
  padding: 22px

.tagsContain
  @include row
  overflow-x: scroll
  width: 100%
  left: 0
  justify-content: flex-start
  margin-left: 12vw
//* reels
.reelText
  font-weight: 600
  font-size: 16px
  color: #fff
  margin: 0 
  white-space: wrap
.reelsHeading
  width: 100%
  @include row
  gap: auto
  justify-content: space-between
.reelContain
  width: 100vw
  @include row
  padding: 12px
  position: absolute
  bottom: 180px
  z-index: 1 

.reelTextContain
  max-width: 80vw
  @include column
  gap: 8px
.videoBackground 
  position: relative
  
  height: 100vh
  overflow-y: hidden 
 

.videoBackground video  
  position: absolute 
  top: 50% 
  left: 50% 
  width: 100vw
  height: 100vh
  z-index: -1  /* Ensure video is behind content */
  transform: translate(-50%, -50%) 
  /* Optional: Add filter for darker overlay to make text content stand out */
  filter: brightness(50%) 
 
  