//! text
$h1text: 22px
$h2text: 20px
$p: 16px
$tagText: 12px

//! colors
$aqua: #23A0E6
$pink: #F400CD
$green: #77D55F
$backgroundColor: #E6E6F5
$text-color: #363636
$iconColor: #5E5E6B
$iconBG: #EBEBF6

//! formatting
$largeBorder: 24px
$smallBorder: 12px
$cardPadding: 18px
$iconPadding: 6px 12px
$friends: 8px
$neighbors: 12px
//! global

.body  
  margin: 0 
  overflow-x: hidden 
  font-family: Inter, sans-serif
  background-color: $backgroundColor
  padding: 28px
  gap: $neighbors
  display: flex
  flex-direction: column
  justify-items: start
//! text
.h1
  font-size: $h1text
  font-weight: 800
  color: $text-color
  margin: 0
.h2
  font-size: $h2text
  font-weight: 800
  color: $text-color
  margin: 0
.p
  font-size: $p
  font-weight: 600
  color: $iconColor
  margin: 0

//! buttons
.primary  
  cursor: pointer 
  padding: 8px 22px
  white-space: nowrap 
  outline: 0 
  border: 0 
  font-weight: 600
  color: #fff
  border-radius: $smallBorder
  background-color: $aqua

//! primary cards
@mixin row()
  display: flex
  flex-direction: row
  white-space: nowrap
  align-content: center
  justify-content: center
  justify-items: center
  align-items: center
  gap: 4px
@mixin column()
  display: flex
  flex-direction: column
  gap: 4px
  align-content: start
@mixin fitWH
  width: 100%
  height: fit-content
.row
  @include row
.column
  @includle column
.card
  padding: $cardPadding
  border-radius: $largeBorder
  @include fitWH
  background-color: #fff
  &.image
    display: grid
    grid-template-columns: repeat(2, 1fr)
  &:hover
    cursor: pointer

.iconTag
  @include row
  padding: $iconPadding
  border-radius: 1000px
  background-color: $iconBG
  font-size: $tagText
  width: fit-content
  font-weight: 600
  color: $iconColor
  gap: 4px
.container
  display: flex
  flex-direction: column
  gap: $friends
.iconContain
  padding: $iconPadding
  border-radius: $smallBorder
  width: fit-content
  height: 100%
